run = "cd homeway && python manage.py runserver 0.0.0.0:5000"
modules = ["python-3.10", "web", "nodejs-20"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["lsof"]

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "cd homeway && python manage.py runserver 0.0.0.0:5000"]
deploymentTarget = "gce"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 23744654
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd homeway && python manage.py runserver 0.0.0.0:5000"
